{% extends 'mails/layout.html.twig' %}

{% block body %}
	<p>Prénom : {{ bugReport.firstname }}</p>
	<p>Nom : {{ bugReport.lastname|capitalize }}</p>
    <p>E-mail : {{ bugReport.email }}</p>
	<p>Message : {{ bugReport.body }}</p>
	<p>Raison : {{ bugReport.subject }}</p>
{% endblock %}
